nav {
    width: 100%;   
    /* background-color:#1B1B1B ; */
    background-color: #323436;
    display:flex;
    justify-content: space-between;
    height: 80px;
}

#nav-ul > * {
  padding: 0 12px;
}

#nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#nav-search > * {
    margin: 0 20px;
}

#nav-logo {
 height: 80px;
 width: 150px;
 margin-left: 25px;
}

.users-link {
    color: #D3D2BC;
    text-decoration: none;
}

#nav-search {
    display: flex;
    /* flex-direction: row; */
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
i.fa-users,
i.fa-home,
i.fa-plus-square {
    color: #D3D2BC;
    font-size: 25px;
}

#nav-user-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1.5px solid #D3D2BC;;
}