#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  position: absolute;
  background-color:white;
  border-radius: 15px;
  height: auto;
  width: auto;
}

#thread-comment-btn-model {
  background: none;
  border: none;
}

#create-new-post-div {
  width: 500px;
  height: 500px;
  border-radius: 15px;
}
#sign-up-title,
#create-new-post-title {
  border-bottom: 0.4px solid rgba(128,128,128,.2);
  display: flex;
  height: 42px;
  justify-content: center;
}

#sign-up-h2,
#new-post-h2 {
    font-size: 16px;
    font-weight: 600;
}

#post-caption-div {
  border-top: 0.4px solid rgba(128,128,128,.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-input-div {
  height: 330px;
  padding: 16px;
}



.each-error-div {
  height: 30px;
}

.each-error-div > * {
  padding-top: 5px;
  color: #D27624;
  font-size: 12px;
  display: flex;
  justify-content: center;
}



#thread-edit-post-btn {
  border: none;
  background-color: transparent;
  font-size: 30px;
  padding-bottom: 15px;
}

#add-post-modal-btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

#signup-modal-div-main {
  height: 350px;
  width: 480px;
  background-color: #D3D2BC;
  border-radius: 4px;
}

.left-sign-up-div {
  align-self: center;
  width: 300px;
  height: 250px;
  margin: 15px;
  border-right: 0.4px solid rgba(128,128,128,.2);
}


.right-sign-up-div {
  height: 295px;
  width: 245px;
}
.container-sign-up-div {
  height: 295px;
  width: 450px;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sign-up-image-div,
#sing-up-form-content {
  align-items: center;
  max-width: 245px;
}

.sign-up-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid rebeccapurple; */
  
}

.each-error-div.sign-up-err {
  height: 70px;
  margin-top: 3px;
  width: 181px;
  margin-left: 30px;
  padding: 0;
}

.each-error-div.sign-up-err > * {
    display: flex;
    justify-content: flex-start;
}

#err-sing-up {
  padding: 0;  
  margin: 0;
  font-size: 10px;
}

.login-inputs.sing-up-input {
  margin-bottom: 3px;
  height: 25px;
  padding: 0;
  padding-left: 8px;
}

#sing-up-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.sign-up-image-preview-title {
   margin: 0;
   margin-bottom: 9px;
   font-weight: 500;
}

.profile-image-preview {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#sing-up-submit-btn {
   width: 174px;
   background-color: #D27624;
   border-radius: 4px;
   color: whitesmoke;
   border: none;
   height: 25px;
   cursor: pointer;
   margin-top: 10px;
}

#sign-up-submit-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}



.edit-submit-btn-div {
      align-items: center;
      margin-left: 8px;
}

.edit.post-submit-btn {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 18px;
  padding: 15px 10px;
  padding-top: 18px;
  cursor: pointer;
}



.post-submit-btn-div {
  height: 50px;
}

#captions-textarea-div {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 10px;
  margin-left: 50px;
}

.text-area.post-text {
  width: 270px;
}


.edit-comment-submit-btn,
.post-submit-btn {
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  color: #D27624;;
  background-color:transparent;
  border: none;
  height: 20px;
  font-size: 18px;
  font-weight: bolder;
}

i.fas.fa-edit {
  font-size: 13px;
}