.thread-image {
    width: 500px;
    height: 450px;
}

.thread-div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 80px;
}

#home-page {
    display: flex;
    justify-content: center;
}

.each-post-div {
     width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 5px;
    padding-bottom: 10px;
    background-color: white;
}

.inline-comment {
    display: inline-block;
    margin: 0 12px;

}

.inline-comment > * {
    display: inline;
}


i.fa-heart {
    font-size: 26px;
    padding: 0;
    font-weight: 400;
    color: rgb(38,38,38);
}

i.fa-comment {
  font-size: 26px;
  color: black;
  font-weight: 400;
  padding: 0;
  margin: 8px;
  color: rgb(38,38,38);
}

.user-image {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgba(142, 142, 142, 0.2); 
}

.user-info-div {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    justify-content: space-between;
}


.like-btn {
    width: 30px;
    height: 30px;
    margin: 8px;
    padding: 0;
    border: transparent;
    background-color: whitesmoke;
}

.post-nav-buttons {
    padding: 0 14px;
    display: flex;
    align-items: center;
}

.thread-post-edit-delete-div,
.thread-comment-count-div,
.post-timestamp-div,
.thread-like-count-div {
    padding: 0 20px;
    margin-bottom: 8px;
}


.post-caption-div {
   display: flex;
   flex-direction: row;
   margin: 10px 14px;
}


.thread-user-profile-link {
    text-decoration: none;
    display: inline;
    color: black;
    padding:0;
    margin: 0;
}


.post-timestamp-div > *,
.thread-like-count-div > * {
    margin: 0;
}

.thread-like-count-div { 
    font-weight: 600;
}


.caption-user-name {
    font-weight: 600;
    padding-right: 4px;
    margin: 0;
   
}

p.top-username-p {
    font-weight: 500;
    color: rgb(38,38,38);
}

.caption-body-thread {
    font-weight: 400;
    color: rgb(38,38,38);
    padding-bottom: 1.2px;
}

.info-img-name {
    display: flex;
}

i.fa-ellipsis-h {
    color: rgb(142,142,142);
    /* color: rgb(38,38,38); */
    font-size: 19px;
}

.comment-link {
    color: rgb(142,142,142);
    text-decoration: none;
    font-weight: 400;
}

.display-time-posted {
    color: rgb(142,142,142);
    font-size: 12px;
    font-weight: 300;
}

.post-btns-preview-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.preview-div {
    height: 150px;
    width: 200px;
}



#post-preview-edit {
    text-decoration: none;
    font-size: 20px; 
    margin: 3px;
    font-weight: 700;
    color:black;
    border: none;
    background-color: transparent;
    height: 100%;
    border-bottom: 0.4px solid rgba(128,128,128,.2);
    margin: 0;
    margin-bottom: 6px;
}


.post-preview-del {
    font-size: 20px;
    border: none;
    color: black;
    font-weight: 700;
    background-color: transparent;
    color:#ed4956;
    height: 100%;
}

.preview-ellipsis-btn {
    background-color: whitesmoke;
    border: none;
}

#nav-ul > *,
#footer  > *,
#nav-div > *{
    background-color: #353839;;
}



#post-wrapper {
   overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;    
    max-height: 100px; 
    max-width: 460px;  
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin: 0;
}

.extra-content {
    padding-top: 2px;
    margin: 0;
}

