#edit-post-image {
    margin: 0;
    padding: 0;
    height: 370px;
    width: 500px;
    max-height: 380px;
    max-width: 500px;
}

.edit-image-div {
    width: 500;
}

.text-area-caption {
    color: #8e8e8e;
    width: 300px;
}

#edit-post{
    padding: 0;
}

#edit-post-caption-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.caption-input-label {
    margin: 12px 5px 0 0;
    font-size: 15px;
    font-weight: 600;
    color: #8e8e8e;
}

.edit {
    height: 100%;
    margin: 0;
}

.comment-edit-div {
    height: 150px;
    width: 300px;
    padding: 20px;
}

.comment-modal-inner-div {
    width: 100%;
    height: 100%;
    align-items: center;
}

#edit-comment-h2 {
  margin: 2px;
  text-align: center;
  background-color: transparent;
  padding-bottom: 20px;
}

#edit-comment-div {
    width: 100%;
}

#edit-comment-div > * {
    width: 100%;
}

button.edit-comment-submit-btn {
  height: 35px; 
  margin-top: 0;
  cursor: pointer;
}

.edit-comment-submit-btn-div {
    display: flex;
    justify-content: flex-end;
}

.edit-comment-textarea {
    border-radius: 4px;
}


#login-form-div {
    /* height: auto;
    width: auto; */
    height: 100%;
    background-color: 	#353839;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-login-div {
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color:#D3D2BC;
    padding: 30px 30px;
}

#upper-login-div {

}

#lower-signup-div {
  padding-top: 15px;
  display: flex;
}

#camera-png {
   height: 65px;
   width: 65px;
}

#camera-image-div {
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
}

#login-form-errors {
    font-size: 10px;
    color: #D27624;
    height: 30px;
    text-align: center;
}

.login-input-div {
    display: flex;
    flex-direction: column;
}
.login-input-label {
    font-size: 10px;
    font-weight: 800;
}

.login-inputs {
        box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
        border-color: rgba(34, 34, 34, 0.4);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        color: #222222;
        font-family: inherit;
        font-size: 16px;
        line-height: 28px;
        height: 10px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 12px;
        padding-right: 12px;
        width: 174px;
        min-width: 0;
        margin-bottom: 15px;
}

#demo-btn,
#login-submit-btn {
   width: 100%;
   background-color: #D27624;
   border-radius: 4px;
   color: whitesmoke;
   border: none;
   height: 25px;
   cursor: pointer;
}

.h_line {
    width:60px;
    height:0.1px; 
    background: whitesmoke;
    margin: 6px 8px 0 5px;

}

.block_1 {
    padding: 8px 0;
    display: flex;
    justify-content: center;
}

#or-p-tag {
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    color: whitesmoke;
}

#signup-quest {
    font-size: 12px;
    margin: 0;
}

#sign-up-link {
    font-size: 12px;
    padding-left: 3px;
    font-weight: 900;
    color: rgb(86, 97, 87);
    text-decoration: none;
    padding: 0;
    background-color: transparent;
    border: none;
    padding-left: 2px;
}

#sign-up-link:hover {
    color: rgb(39, 73, 39);
}