.choose-file-btn {
    color: blue;
}

input[type=file] {
    width: 200px;
}

input[type=file]::file-selector-button {
    width: 100px;
    background-color: #D27624;
    border-radius: 4px;
    color: whitesmoke;
    border: none;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
}

/* input[type=file]::file-selector-button:hover {
} */
.upload-btn {
    border: none;
    background-color: none;
    background-color: #D27624;
    border-radius: 4px;
    width: 40px;
    align-self: center;
     height: 30px;
}

.fa-cloud-upload {
    color: whitesmoke;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.upload-btn-div {
    /* border: 2px solid red; */
    margin: 10px 20px;
    display: flex;
}

.upload-btn {
    align-self: center;
    padding: 5px;
}

.post-upload-form {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.post-upload-form > * {
    align-items: center;
}

.choose-photo-input{
    padding-bottom: 10px;
}