#profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 50px 75px;
    border: 1px solid lightgray;  
}



.line-break {
    background-color: white;
    margin: 0 10%;
}

.line-break-inner {
    border: .5px solid rgba(211, 211, 211, 0.3);
    margin: 0 1.8%;
}

#top-profile-div {
    background-color: white;
}

#user-profile-info {
    max-width: 50%;
    word-wrap: break-word;
    margin: 50px 20px;
    align-items: center;
}

#top-profile-div {
    display: flex;
    margin: 0 10%;
}

#each-user-post-img {
    height: 200px;
    width: 200px;
}

#lower-profile-div {
    background-color: white;
    display: flex;
    margin: 0 10%;
    padding: 15px;
    padding-bottom: 8%;
}


#profile-images-div {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;
    align-items: center;
}


#profile-username {
    font-size: 24px;
    font-weight:300;
    margin: 8px;
}

#profile-email {
    font-size: 12px;
    font-weight:200;
    margin: 6px;
}

#post-count-div {
    display: flex;
    flex-direction: row;
    margin: 6px;
}

#post-count-p {
    margin: 0 5px;
    font-weight: 300;
    font-size: 17px;

}

#post-label {
    margin: 0;
    font-size: 17px;
    font-weight: 200;
}

.all-post-img {
    display: flex;
    justify-content: center;
}

#profile-not-found {
    height: 100px;
    display: flex;
    justify-content: center;
}

#div-upper {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0 10%;
}


#lower-profile-div {
    background-color: white;
    display: flex;
    margin: 0 10%;
    padding: 15px;
    padding-bottom: 8%;
    justify-content: center;
}


#profile-images-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    gap: 10px;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
}

@media only screen and (max-width: 1180px) {

    #profile-images-div {
        grid-template-columns: repeat(3, 1fr);
    }

    #each-user-post-img {
        min-height: 100px;
        min-width: 100px;
        max-height: 100%;
        max-width: 100%;
    }

}

@media only screen and (min-width: 1180px) {

    #profile-images-div {
        grid-template-columns: repeat(4, 1fr);
    }

    #each-user-post-img {
        min-height: 200px;
        min-width: 200px;
        max-height: 100%;
        max-width: 100%;
    }

}

@media only screen and (min-width: 1500px) {

    #profile-images-div {
        grid-template-columns: repeat(5, 1fr);
    }

    #each-user-post-img {
        min-height: 200px;
        min-width: 200px;
        max-height: 100%;
        max-width: 100%;
    }

}

@media only screen and (max-width: 600px) {

    #profile-images-div {
        grid-template-columns: repeat(2, 1fr);
    }

    #each-user-post-img {
        min-height: 150px;
        min-width: 15px;
        max-height: 100%;
        max-width: 100%;
    }

}